body {
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.movie {
    padding-left: 18px;
    border: 1px solid white;
    margin-right: 15px;
    margin-bottom: 15px;
    flex-basis: 300px;

}
p {
    color: red;
}
span {
    color: gray;
}